@model CategoriesWithBrandsWithProductVM

<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Product.Name">
                    <span class="text-danger" asp-validation-for="Product.Name"></span>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a description here" style="height: 100px" asp-for="Product.Description"></textarea>
                        <label for="description">You Desciption Here...</label>
                    </div>
                    <span class="text-danger" asp-validation-for="Product.Description"></span>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" asp-for="Product.Price">
                    <span class="text-danger" asp-validation-for="Product.Price"></span>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" asp-for="Product.Quantity">
                    <span class="text-danger" asp-validation-for="Product.Quantity"></span>
                </div>
                <div class="mb-3">
                    <label for="mainImg" class="form-label">MainImg</label>
                    <input type="file" class="form-control" id="mainImg" name="mainImg" accept="image/*" onchange="previewImage(event)">
                    <img id="imagePreview" src="#" alt="Image Preview" class="img-thumbnail mt-2" style="display: none; max-height: 200px;" />
                    <span class="text-danger" asp-validation-for="Product.MainImg"></span>
                </div>
                <div class="mb-3">
                    <label for="categoryId" class="form-label">Category Name</label>
                    @* <input type="number" class="form-control" id="categoryId" name="categoryId" value="@Model.Product.CategoryId"> *@
                    <select asp-for="Product.CategoryId" class="form-select">
                        @foreach (var item in Model.Categories)
                        {
                            if (item.Id == Model.Product.CategoryId)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
                </div>
                <div class="mb-3">
                    <label for="brandId" class="form-label">Brand Name</label>
                    @* <input type="number" class="form-control" id="brandId" name="brandId" value="@Model.Product.BrandId"> *@
                    <select asp-for="Product.BrandId" class="form-select">
                        @foreach (var item in Model.Brands)
                        {
                            if (item.Id == Model.Product.BrandId)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Product.BrandId"></span>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select asp-for="Product.Status" class="form-select">

                        @if (Model.Product.Status)
                        {
                            <option value="true" selected>Active</option>
                            <option value="false">InActive</option>
                        }
                        else
                        {
                            <option value="true">Active</option>
                            <option value="false" selected>InActive</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Product.Status"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
